export(alignment.att)
export(alignment)
export(causalsens)
export(one.sided.att)
export(one.sided)
S3method(plot, causalsens)
S3method(print, causalsens)
S3method(summary, causalsens)
importFrom(stats, model.frame)
importFrom(stats, coef)
importFrom(stats, fitted)
importFrom(stats, quantile)
importFrom(stats, as.formula)
importFrom(stats, update)
importFrom(stats, confint)
importFrom(stats, var)
importFrom(stats, residuals)
importFrom(stats, lm)
importFrom(stats, drop1)
importFrom(graphics, plot)
importFrom(graphics, abline)
importFrom(graphics, polygon)
importFrom(grDevices, rgb)
importFrom(graphics, points)
